<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-button expand="full" (click)="startSpeechReception()">Add Item</ion-button> -->
  <ion-item>
    <ion-label position="floating" color="primary">Add Wish</ion-label>
    <ion-input [(ngModel)]="itemModel"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="addInputItem()">ADD</ion-button>
  <!-- List of Text Items -->
  <div *ngIf="userList.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div text-center>
            <h3>Added Items</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item *ngFor="let item of userList">
        <ion-label>
          <span (click)="goToItemPage(item)">{{item.itemName}} &nbsp;</span>
          <span (click)="deleteItem(item)"> X</span>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="full" fill="outline" (click)="saveItem()">Save List</ion-button>
    <!-- <ion-button expand="full" fill="outline" (click)="goToItemPage()">Item Page</ion-button> -->
  </div>
  <div *ngIf="userList.length <= 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div text-center>
            <h3>You have not added any item. Start by adding one.</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
