<ion-header>
  <ion-toolbar>
    <ion-title>
      My Wishlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-button expand="full" (click)="startSpeechReception()">Add Item</ion-button> -->
  <ion-item>
    <ion-label position="floating" color="primary">Add What You Wish For</ion-label>
    <ion-input [(ngModel)]="itemModel"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="addInputItem()">ADD</ion-button>
  <!-- List of Text Items -->
  <div *ngIf="userList.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div text-center>
            <h4>Added Items</h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item *ngFor="let item of userList">
        <ion-label (click)="goToItemPage(item)">{{item.itemName}} &nbsp;</ion-label>
        <ion-button slot="end" color="danger" (click)="deleteItem(item)">
          X
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-button expand="full" fill="outline" (click)="goToBackground()" color="secondary">Enable Background</ion-button>
  </div>
  <div *ngIf="userList.length <= 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div text-center>
            <h3>You have not added any item. Start by adding one.</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
